@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-slider-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300%;
  height: 100vh;
}

.slider {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.slider img {
  width: 100vw;
  height: 100%;
}

.btn-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: wheat;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-box {
  height: 100%;
}
.img-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.644);
}
#prev,
#next {
  background-color: #ffd900dc;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#prev:hover,
#next:hover {
  background-color: #ffd700;
  transition: all 0.3s ease-in-out;
}
.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.slider-title {
  color: white;
  font-size: 52px;
  font-family: "Playfair Display", serif !important;
}
.content-box a {
  color: black;
  text-decoration: none;
  background-color: #ffd700;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 40px;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out;
}
.content-box a:hover {
  border: 2px solid #ffd700;
  color: #ffd700;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  transition: all 0.5s ease-in-out;
}
.content-box p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .image-slider-container {
    position: relative;
    height: 50vh;
    overflow: hidden;
  }
  .sliders {
    height: 50vh;
  }

  .content-box {
    width: 90%;
    margin: 0 auto;
    gap: 15px;
  }
  .slider-title {
    font-size: 32px;
    text-align: center;
  }
  .content-box a {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 40px;
  }
  .content-box p {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
}
