* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-slider-container {
    position: relative;
    height: 60vh;
    overflow: hidden;
}

.sliders {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500%;
    height: 60vh;
}

.slider {
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.slider img {
    width: 100vw;
    height: 100%;
}

.btn-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: wheat;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prev,
#next {
    background-color: rgba(240, 248, 255, 0.589);
    width: 30px;
    height: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    cursor: pointer;

}

#prev:hover,
#next:hover {
    background-color: rgba(240, 248, 255, 0.952);
    transition: all .3s ease-in-out;
}